.nav {
  position: fixed;
  width: 100%;
  background-image: url("../../assets/background/bg-header.jpg");
}
.navbar {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
.logo-navbar {
  width: 150px;
}
